<h1>liste des crypto-monnaies</h1>
<%= form_tag(root_path, :method => "post", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Monnaies" %>
<%= submit_tag "Search", :name => nil %>
<% end %><br />
<table class="table">
  <thead>
    <tr>
      <th scope="col">Monnaie</th>
      <th scope="col">Valeur</th>
    </tr>
  </thead>
  <tbody>
</table>
