<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "Crypto-Monnaies", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
      </ul>
      <%= form_with to_model: @scrypto do |f| %>
        <% options = options_from_collection_for_select(Crypto.all, 'id', 'name') %>
        <%= f.select :all_val,  options %>
      <% end %>
    </nav>
  </div>
</header>
